@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap');

$row-length: 175px;
// $row-length-sm: 175px;

.CovidApp {
  display: grid;
  grid-template-rows: auto auto $row-length $row-length $row-length;
  justify-content: center;
  justify-items: center;
  row-gap: 1.5vw;
}

.headline {
  font-family: 'Vesper Libre', serif;
  font-size: 3em;
  margin-bottom: -1.25vh;
  color: black;
}

.measureContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin-bottom: -1.25vh;
}

@media (max-width: 768px) {
  // .CovidApp {
  //   grid-template-rows: auto auto $row-length-sm $row-length-sm $row-length-sm;
  // }

  .headline {
    margin-bottom: -4vh;
  }

  .measureContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  .headline {
    font-size: 2.5em;
    text-align: center;
  }
}