@font-face {
  font-family: 'Helveticrap';
  src: url(./Helveticrap.ttf) format('truetype');
}

.CovidApp {
  display: grid;
  grid-template-rows: auto auto 200px 200px 200px;
  justify-content: center;
  justify-items: center;
  row-gap: 30px;
}

.headline {
  font-family: 'Helveticrap', sans-serif;
  font-size: 3em;
  margin-bottom: -20px;
}

.measureContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-bottom: -20px;
}