@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap');

.CovidApp {
  display: grid;
  grid-template-rows: auto auto 200px 200px 200px;
  justify-content: center;
  justify-items: center;
  row-gap: 2.5vh;
}

.headline {
  font-family: 'Vesper Libre', serif;
  font-size: 3em;
  margin-bottom: -1.25vh;
  color: black;
}

.measureContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin-bottom: -1.25vh;
}

@media (max-width: 480px) {
  .measureContainer {
    display: grid;
    grid-template-columns: auto;
    row-gap: 5px;
  }

  .headline {
    font-size: 2.5em;
    text-align: center;
  }
}