@use 'colors';

.CovidApp {
  align-content: center;
  background-color: colors.$theme_green;
  display: grid;
  grid-template-columns: auto auto;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}