@use 'colors' as *;
@use 'sass:color';

.us_state {
  fill: $theme_blue;
  transition: fill 0.5s ease;

  &:hover {
    fill: $theme_tan;
    cursor: pointer;
  }
}

.us_state__label {

}

.us_state__value {
  
}

.cases_circle {
  fill: rgba($theme_peach, .12);
  pointer-events: none;
  stroke: color.scale($theme_peach, $lightness: -30%);
}





