.UsMap {
  background-color: darkslategray;
  display: grid;
  height: 100%;
  justify-items: center;
  position: relative;
  width: 100%;
}

.UsMap_states {
  position: absolute;
  z-index: 0;
}




