.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "measure measureType legend legend figure figure"
    "datePicker datePicker legend legend figure figure"
  ;
  column-gap: 5px;
}

.categorySelect {
  width: 15px;
}

.measure {
  grid-area: measure;
}

.measureType {
  grid-area: measureType;
}

.legend {
  grid-area: legend;
}

.datePicker {
  grid-area: datePicker;
}

.figure {
  grid-area: figure;
}